# Ignore environment and sensitive config files
*.env
*.json
!important-config.json  # (Unignore specific JSON file if needed)

# Ignore dataset files
*.xlsx
*.xls
*.csv

# Ignore log files
*.log

# Ignore images
*.jpg

# Ignore Confidential data folder

confidential/

design_template/

*.ui

static/

*.spec

dist/

build/

*.txt